/* html index */
//index 
.main-index{
    .bienvenida{
        font-size: 2em;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        background-color: $primer-color;
        article{
            h3{
                @include h3();
            }
            h1 {
                @include h1();
                span{
                    @include span();
                }
            }
        }
    }
}

div{
    background-color: $segundo-color;
    @include titulo-centrado();
}

section{
    background-color: $segundo-color;
    @include banner-row();
    div{
    @include prenda();
    @include size-letter();
    }
    div{
        @include prenda();
        @include size-letter();
        }
}

section{
    background-color: $segundo-color;
    div{
        @include banner-row();
        span h2{
            @include h2();
            @include span();
        }
    }
}

/*redes sociales index*/
section{
    background-color: $tercer-color;
    div{
        @include titulo-centrado();
        h3{
            @include h3();
        }
    }
    div{
        @include banner-row();
    }
}

section{
    background-color: $tercer-color;
    div{
        @include titulo-centrado();
        @include h3();
    }
    div{
        @include parrafos();
    }
}

/*  html por prenda */
main section{
    background-color: $segundo-color;
    div{
        @include titulo-centrado();
        h1{
            @include h1();
            @include span();
        }
    }
}

section{
    .prenda-descrip{  
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    div{
        .name-price{
            font-size: large;
            font-family: 'Lato', sans-serif;
            padding-right: 40px;
            h3{
                @include h3();
            }
            p{
                @include parrafos();
                @include span();
            }
            hr{
                @include hr();
            }
            p{
                @include parrafos();
            }
            hr{
                @include hr();
            }
            p{
                @include parrafos();
                @include span();
            }
            button{
                @include button();
            }
        }
    }
}

/* sugerencia de prendas*/
div{
    background-color: $segundo-color;
    @include titulo-centrado();
    h2{
        @include h2();
    }
}
section{
    background-color: $segundo-color;
    @include banner-row();
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
}

/* html por categoría de prenda*/
/*banner*/
main{
    section{
        background-color: $segundo-color;
        .banner-tienda{
            padding: 120px;
            background-image: url("../images/ropero.jpeg");
            align-content: center;
            text-align: center;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            @include centrado();
            h1{
                @include h1();
                p{
                    @include parrafos();
                }
            }
        }
    }
}
section{
    background-color: $segundo-color;
    @include banner-row();
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
}
section{
    background-color: $segundo-color;
    @include banner-row();
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
}
section{
    background-color: $segundo-color;
    @include banner-row();
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos;
        }
    }
    div{
        @include prenda();
        @include size-letter();
        p{
            @include parrafos();
        }
    }
}

/*html de ayuda*/
main{
    background-color: $segundo-color;
    div{
        @include titulo-centrado();
        h1{
            @include h1();
        }
    }
    div{
        @include contenedor-preguntas();
        h2{
            @include h2();
        }
        div{
            .acordeon{
                background-color: $segundo-color;
                justify-content: center;
                &:label{
                    display: block;
                    padding: 10px;
                    background-color: $cuarto-color;
                    color: whitesmoke;
                    &:hover{
                        background-color: $tercer-color;
                    }
                    p{
                        @include parrafos();
                        p:hover{
                            background-color: $primer-color;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    background-color: $segundo-color;
    div{
        @include titulo-centrado();
        h1{
            @include h1();
        }
    }
    div{
        @include contenedor-preguntas();
        h2{
            @include h2();
        }
        div{
            .acordeon{
                background-color: $segundo-color;
                justify-content: center;
                &:label{
                    display: block;
                    padding: 10px;
                    background-color: $cuarto-color;
                    color: whitesmoke;
                    &:hover{
                        background-color: $tercer-color;
                    }
                    p{
                        @include parrafos();
                        p:hover{
                            background-color: $primer-color;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    background-color: $segundo-color;
    div{
        @include titulo-centrado();
        h1{
            @include h1();
        }
    }
    div{
        @include contenedor-preguntas();
        h2{
            @include h2();
        }
        div{
            .acordeon{
                background-color: $segundo-color;
                justify-content: center;
                &:label{
                    display: block;
                    padding: 10px;
                    background-color: $cuarto-color;
                    color: whitesmoke;
                    &:hover{
                        background-color: $tercer-color;
                    }
                    p{
                        @include parrafos();
                        p:hover{
                            background-color: $primer-color;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}
section{
    background-color: $tercer-color;
    div{
        @include titulo-centrado();
        @include span();
        h3{
            @include h3();
            @include span();
        }
        div{
            .audiovisuales{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 50px;
            }
            iframe{
                .margen{
                    padding: 50px;
                }
            }
            iframe{
                .margen{
                    padding: 50px;
                }
            }
        }
    }
}

/* html -acerca de-*/
div{
    background-color: $primer-color;
    @include titulo-centrado();
    
    h1{
        @include h1();
        @include span();
    }
}
main{
    section{
        background-color: $segundo-color;
        @include titulo-centrado();
        article{
            @include h2();
            @include parrafos();
        }
    }
    section{
        background-color: $tercer-color;
        div{
            @include h3();
        }
    }
}

 //formulario 
section{
    background-color: $tercer-color;
    span{
        button{
            background-color: #836096;
            border-radius: 5px;
            padding: 5px;
            border: none;
            cursor: pointer;
            color: antiquewhite;
            font-weight: bold;
            &:hover{
                background-color: #F0B86E;
            }
        }
    }
}






// posibilidad de hacer uso del map get pero me arroja error
// article h3{
//     font-family: map-get($subtitle, ffamily);
//     font-size: map-get($subtitle, fzise);
//     margin-bottom: map-get($map: $subtitle, $key:margin-bottom);
//     span{
//         color: map-get($map: span, $key: color );
//         font-weight: map-get($span, $key: fweight);
//     }
// }