// variables //
$primer-color: #EBE76C;
$segundo-color: #F0B86E;
$tercer-color: #ED7B7B;
$cuarto-color: #836096;

@mixin h1(){
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
@mixin h2(){
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}
@mixin h3(){
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}
@mixin span(){
    color: #836096;
    font-weight: bold
}
@mixin titulo-centrado(){
    text-align: center;
    padding: 50px 0 50px 0;
}
@mixin banner-row(){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0 20px 0;
    align-items: center;
}
/*contenedor para prendas*/
@mixin prenda(){
    display: inline-block;
    flex-direction: row;
    margin: 20px 10px;
    text-align: center;
}
@mixin size-letter(){
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
@mixin parrafos(){
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    padding-bottom: 50px;
}
@mixin hr(){
    height: 3%;
    background-color: black;
}
@mixin button(){
    background-color: #836096;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: antiquewhite;
    font-weight: bold;
    &:hover{
        background-color: #F0B86E;
    }
}
@mixin centrado(){
        font-size: 1em;
        justify-content: center;
        padding: 10px;
}
@mixin contenedor-preguntas(){
    margin: 10px 200px 10px 200px;
} 


// $subtitle: (
//     ffamily: 'Lato', sans-serif,
//     fzise: 18px,
//     margin-bottom: 10px,
// );
// $span: (
//     color: #836096,
//     fweight: bold,
// );