// variables //
$primer-color: #EBE76C;
$segundo-color: #F0B86E;
$tercer-color: #ED7B7B;
$cuarto-color: #836096;

// $subtitle: (
//     ffamily: 'Lato', sans-serif,
//     fzise: 18px,
//     margin-bottom: 10px,
// );
// $span: (
//     color: #836096,
//     fweight: bold,
// );